.advantages, .information, .reviews {
     background-color: var(--blue-background);
}

.advantages-content {
     width: 65%;
     margin: 0 auto;
     padding-top: 6rem;
     padding-bottom: 2rem;
     display: flex;
     flex-wrap: wrap;
}

.card {
     width: 50%;
     margin: 1rem auto;
}

.card-content {
     text-align: center;
     width: 68%;
     margin: 1rem auto;
}

.card-content img {
     height: 78px;
}

.card-content p {
     font-size: 13px;
     line-height: 18px;
}

/* tablet */

@media screen and (max-width:768px) {
     
     .advantages-content {
          flex-direction: column;
     }

     .card {
          width: 85%;
          margin: 1.8rem auto;
     }
     
     .card-content {
          width: 85%;
          
     }
     
     .card-content img {
          height: 88px;
     }

     .card-content h3 {
          font-size: 20px;
     }
     
     .card-content p {
          font-size: 13px;
     }
}


/* phone */

@media screen and (max-width:480px) {
     
     .card {
          width: 90%;
     }
     
     .card-content {
          width: 100%;
     }
}


