footer {
     background-color: var(--blue-footer);
     margin: 0 0;
     position: relative;
     padding-bottom: 2.5rem;
}

.early-access {
     width: 680px;
     height: 210px;
     border-radius: 10px;
     background-color: var(--dark-blue);
     position: absolute;
     top: -70px;
     left: calc(48% - 340px);
     text-align: center;
     padding: 1rem;
     box-shadow: 0 0 0.7rem hsl(217, 51%, 8%);;
}

.early-access h3 {
     font-size: 22px;
}

.early-access p {
     width: 75%;
     margin: 0 auto 2rem;
}

.early-access input {
     width: 45%;
     height: 28px;
     border-radius: 18px;
     margin-right: 18px;
     padding: 5px 20px;
     border: none;
}

.early-access input::placeholder {
     color: lightgray;
}

.footer-content {
     padding: 14rem 0 0;
     width: 80%;
     margin: 0 auto;
}

.footer-content > img {
     margin-bottom: 3rem;
}

.footer-contact {
     display: grid;
     grid-template-columns: 1.2fr 1fr 0.8fr;
     width: 95%;
     margin: 0;
}

.footer-contact p img {
     padding-right: 1rem;
}

.footer-links {
     width: 85%;
     display: grid;
     grid-template-columns: 50% 50%;
     padding-left: 4rem;
     align-items: center;
}

.footer-links a {
     color: white;
     text-decoration: none;
     padding: 0 10px 8px 0;
}

.footer-links nav {
     height: 80px;
     display: flex;
     flex-direction: column;
}

.social-media {
     display: flex;
     align-self: center;
     justify-content: flex-end;
     width: 240px;
     height: 40px;
}

.social-media svg {
     padding-right: 25px;
}