.information {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 4rem 0;
}


.info-img {
     max-width: 500px;
}

.info-img img {
     width: 100%;
}

.info-content {
     width: 38%;
     padding: 0 1.5rem;
}

.info-content a {
     color: var(--cyan);
     letter-spacing: 1.1px;
}

/* tablet */

@media screen and (max-width:768px) {
     
     .information {
          flex-direction: column;
     }

     .info-img {
          text-align: center;
     }

     .info-img img {
          width: 90%;
     }

     .info-content {
          width: 80%;
          padding: 4rem 1.5rem 0;
     }
}


/* phone */

@media screen and (max-width:480px) {
     
}